@import "reset"

body
  background #91A2C0
  font bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif

ul
  list-style-type none

a, a:visited
  color #F95A5A
  text-decoration none

a:hover
  color #665248

#home-view
  width 600px
  height 200px
  margin 20px auto

  #content
    background #FFF
    padding 20px
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px



/* Default font settings */
body
  font-size 15px
  color #666
  background #fff
  font-family "KievitPro", "ff-kievit-web-pro-1","ff-kievit-web-pro-2", "Helvetica Neue", Arial, Helvetica, sans-serif

/* Headings */
h1,h2,h3,h3,h4
  font-weight normal
  color #222
  clear left

h1
  font-size 5em
  line-height 1.4
  margin-bottom 0.5em
h2
  font-size 2em
  line-height 1
  margin-bottom 0.5em

/* Text elements */
p
  margin 0 0 1.5em

a:focus, a:hover
  color #F95A5A
  text-decoration underline
a
  color #F95A5A
  text-decoration none

/* Lists */
ul, ol
  margin 0 1.5em 1.5em 0
  list-style-type none

/* Style */
#content
  width 605px
  margin 0 auto
  margin-top 40px
  margin-bottom 60px

h1
  background #91A2C0
  background-image url('http://brunchwithcoffee.com/static/img/brunch.png')
  background-repeat no-repeat
  background-position 2px
  color #fff
  width 330px
  padding-left 138px
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px

#props
  position relative
  top 36px
  font-size 18px
  padding-left 373px
  color #eee
  font-style italic
