extends /_layouts/_social

block content
  :marked
    # Community

    Follow [@brunch](http://twitter.com/brunch) and [@paulmillr](http://twitter.com/paulmillr) on twitter to get latest updates & news.

    Our [GitHub](http://github.com/brunch/brunch) generally is **the** place to report bugs or even ask questions.

    Feel free to discuss things with other users and ask for help in our ost.io [forum section](http://ost.io/@brunch/brunch).
    You can also ask questions with [#brunch tag at Stack Overflow](http://stackoverflow.com/questions/tagged/brunch).

    If you want to add something new to brunch, [contributing guidelines](https://github.com/brunch/brunch/blob/master/CONTRIBUTING.md) can help you.
    For details on creating your own plugin, please have a look at our [Plugin API reference](/docs/plugins).

    ## Things that integrate with Brunch

    ### Editors / IDEs

    There are also some text editor plugins that simplify developing apps with Brunch:

    * [brunch-with-atom](https://atom.io/packages/brunch-with-atom)
    * [Brunch Task Runner for Visual Studio](https://visualstudiogallery.msdn.microsoft.com/de706ad0-8a73-4df3-bef5-867bb9a70d51)

    ## Commercial support

    <a href="http://hellyeah.is/"><img src="http://hellyeah.is/assets/images/logo.png" width="64" height="64" alt="Hell Yeah"></a>

    [Hell Yeah LLC](http://hellyeah.is/), a company behind Brunch is offering commercial support, consulting and training for React, Brunch and Backbone-based web applications.
    Drop us
    <a href="mailto:&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x68;&#x65;&#x6C;&#x6C;&#x79;&#x65;&#x61;&#x68;&#x2E;&#x69;&#x73;">an email</a>
    for more information.

    [Andriy Drozdyuk](http://andriy.drozdyuk.com/) in Fredericton, NB, Canada.
    Contact me at [drozzy@gmail.com](mailto:drozzy@gmail.com) for more information. Local only.

    Are you providing Brunch consulting too? [Place yourself here!](https://github.com/brunch/brunch.github.io/edit/master/source/app/assets/support.jade)
